@model Dawstin_CPW226_VirtualArtMuseum.Models.Artwork

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Medium"></label>
        <input asp-for="Medium" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <input type="submit" value="Submit Artwork" class="btn btn-primary" />
</form>