@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Have questions, feedback, or just want to say hello? We'd love to hear from you!</p>

<p>Email: curator@virtualartmuseum.com</p>